# visual studio folder
.vs/

# all images
Image Generator/Models/Images/*
Image Generator/bin/Debug/Images/*
Image Generator/bin/Release/Images/*

# empty secret file, just to folder can be commited to repo
!Image Generator/Models/Images/.gitkeep.txt